<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC1test:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC1test_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC1test" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="springMVC1test/web/Web" />
    </root>
  </artifact>
</component>